package svccontext
{{if .Middlewares}}
import "github.com/craftgodotdev/craftgo/pkg/server"

{{range .Middlewares}}
{{range .Doc}}// {{.}}
{{end}}// {{.Name}}Middleware is the {{.Name}} middleware.
type {{.Name}}Middleware = server.Middleware
{{end}}
{{end}}
// Middlewares holds one field per middleware the design declares.
type Middlewares struct {
{{- range .Middlewares}}
	{{.Name}} {{.Name}}Middleware
{{- end}}
}
