package routes

{{.ImportDecl}}
// RegisterAll registers every service's routes on srv.
func RegisterAll(srv *server.Server, svcCtx *svccontext.ServiceContext) {
{{- range .Registrars}}
	{{.}}.RegisterRoutes(srv, svcCtx)
{{- end}}
}
