package {{.Package}}

{{.ImportDecl}}
// RegisterRoutes registers the {{.Service}} routes{{if .Group}} of group {{.Group}}{{end}} on srv.
func RegisterRoutes(srv *server.Server, svcCtx *svccontext.ServiceContext) {
{{- range .Routes}}
	srv.Handle("{{.Pattern}}", {{.HandlerCall}}{{if .Middlewares}}, {{.Middlewares}}{{end}})
{{- end}}
}
