package {{.Package}}

{{.ImportDecl}}
{{- range .Doc}}
// {{.}}
{{- end}}
// {{.Method}} returns the {{.Verb}} {{.Method}} handler.
func {{.Method}}(svcCtx *svccontext.ServiceContext) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
{{- if .IsMultipart}}
		if err := r.ParseMultipartForm({{.MultipartMaxMemory}}); err != nil {
			server.WriteValidationError(w, r, err)
			return
		}
		defer func() { _ = r.MultipartForm.RemoveAll() }()
{{- end}}
{{- if .BindRequest}}
		var req {{.RequestType}}
{{- range .Defaults}}
{{- if .Ptr}}
		{
			__d := {{.Literal}}
			req.{{.GoName}} = &__d
		}
{{- else}}
		req.{{.GoName}} = {{.Literal}}
{{- end}}
{{- end}}
{{- if .BodyDecode}}
		if err := server.JSON().Decode(r.Body, &req); err != nil {
			server.WriteValidationError(w, r, err)
			return
		}
{{- end}}
{{- range .PathParams}}
		{{.Bind}}
{{- end}}
{{- if .QueryParams}}
		_q := r.URL.Query()
{{- end}}
{{- range .QueryParams}}
		{{.Bind}}
{{- end}}
{{- range .HeaderParams}}
		{{.Bind}}
{{- end}}
{{- range .CookieParams}}
		{{.Bind}}
{{- end}}
{{- range .FormStrings}}
		{{.Bind}}
{{- end}}
{{- range .FormFiles}}
{{- if .IsArray}}
		req.{{.GoName}} = r.MultipartForm.File[{{printf "%q" .DSLName}}]
{{- else}}
		if _, header, err := r.FormFile({{printf "%q" .DSLName}}); err == nil {
			req.{{.GoName}} = header
		}
{{- end}}
{{- end}}
		if err := req.Validate(); err != nil {
			server.WriteValidationError(w, r, err)
			return
		}
{{- end}}
		l := service.New{{.ServiceName}}(r.Context(), svcCtx)
{{- if .Sig.HasResult}}
		resp, err := l.{{.Method}}({{.Sig.CallArgs}})
		if err != nil {
			server.WriteError(w, r, err)
			return
		}
{{- range .RespHeaders}}
		{{.Bind}}
{{- end}}
{{- range .RespCookies}}
		{{.Bind}}
{{- end}}
		server.WriteResponse(w, r, {{.SuccessStatusExpr}}, resp)
{{- else if .WriteResponse}}
		err := l.{{.Method}}({{.Sig.CallArgs}})
		if err != nil {
			server.WriteError(w, r, err)
			return
		}
		w.WriteHeader({{.SuccessStatusExpr}})
{{- else}}
		if err := l.{{.Method}}({{.Sig.CallArgs}}); err != nil {
			server.WriteError(w, r, err)
			return
		}
{{- end}}
	}
}
