package wiring

{{.ImportDecl}}
// RegisterGRPC registers the protos' gRPC services on srv.
func RegisterGRPC(ctx context.Context, srv *rpc.Server, svcCtx *svccontext.ServiceContext) (func(context.Context) error, error) {
{{- range .Services}}
	{{.PBAlias}}.Register{{.Service}}Server(srv, {{.ServerAlias}}.NewServer(svcCtx))
{{- end}}
	return func(context.Context) error { return nil }, nil
}
